{% extends 'adminbase.html' %}
{% block content %}
<style>
    th,td{
        padding: 10px;
    }
    th{
        background-color: #e30577;
        color: white;
    }
    </style>
    <div style="margin: 50px;">
        <h1 style="margin: 10px;">Product</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Category</td>
                    <td><select class="form-control" name="category">
                        {% for d in category %}
                            <option value="{{d.0}}">{{d.1}}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control" name="txtName" required></td>
                </tr>
                <tr>
                    <td>Specification</td>
                    <td><textarea class="form-control" name="txtDesc" required></textarea></td>
                </tr>
               
                <tr>
                    <td>Speciality</td>
                    <td><select class="form-control" name="txtSpeciality">
                        <option>Basic use</option>
                        <option>Office use</option>
                        <option>Gaming</option>
                        </select></td>
                </tr>
                
                <tr>
                    <td>Rate</td>
                    <td><input type="text" class="form-control" name="txtRate" required></td>
                </tr>
                <tr>
                    <td>Upload image</td>
                    <td><input type="file" class="form-control" name="txtFile" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-info" style="background-color: #e30577; width: 120px; border:none; outline: none;" value="Submit"></td>
                </tr>
            </table>
        </form>
        <table border="1" style="margin-top: 50px;">
        <tr>
            <th>ID</th>
            <th>PRODUCT NAME</th>
            <th>SPECIFICATION</th>
            <th>SPECIALITY</th>
            <th>IMAGE</th>
            <th>RATE</th>
           
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
           
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>{{d.4}}</td>
            <td><img src="../static{{d.5}}" height="150px" width="150px"></td>
            <td>{{d.6}}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <script>
        var msg="{{msg}}";
        if(msg!="")
            alert(msg)
        </script>
{% endblock %}