{% extends 'customerbase.html' %} {% block content %}
<style>
	th,
	td {
		padding: 10px;
		background-color: #f8d1e5b3;
		color: #000;
	}
	th {
		background-color: #e30577;
		color: white;
	}
	.forBg {
		height: 100vh;
		background-image: url('/static/images/hdd.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
<div style="margin: 50px">
	<h1 style="margin: 10px">HDD</h1>

	<table border="1" class="table" style="margin-top: 50px">
		<tr>
			<th>ID</th>
			<th>HDD</th>
			<th>SIZE</th>
			<th>SPEED</th>
			<th>SPECIALITY</th>
			<th>RATE</th>
			<th colspan="2">image</th>
		</tr>
		{% for d in data %}
		<tr>
			<td>{{d.id}}</td>
			<td>{{d.name}}</td>
			<td>{{d.capacity}}</td>
			<td>{{d.speed}}</td>
			<td>{{d.category.category}}</td>
			<td>{{d.rate}}</td>
			<td>
				<a href="../static/media/{{d.image}}"
					><img src="../static/media/{{d.image}}" width="200" alt=""
				/></a>
			</td>

			<td><a href="/customerram?id={{d.id}}">Select</a></td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
